<main class="p-5">
    <<<<<<< HEAD <h1>
        hello <i class="bi bi-brightness-high"></i>
        <i class="fa-brands fa-slack fa-beat fa-2xs" style="color: #f5cd05;"></i>
        </h1>
        <button class="btn btn-primary"><i class="bi bi-car-front"></i>
            <i class="fa-brands fa-slack fa-beat fa-2xs" style="color: #f5cd05;"></i></button>
        <button class="btn btn-warning"><i class="bi bi-cart"></i>
            <img src="/svg/slack.svg"> </button>
        ======
        <div class="g-5 ">
            <!-- <div class="col-12 mb-5">
            <label class="form-label">email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error.You need to put correct email</div>
        </div>-->
            <div class="col-12 mb-5">
                <div class="row">
                    <div>
                        >>>>>>> ca2716984e3422335fb1075690259b7d56eb6606


                        <div>
                            <i class="fa-brands fa-slack fa-beat fa-2xs" style="color: #f5cd05;"></i>

                        </div>
                        <div>
                            <img src="/svg/slack.svg">

                        </div>

</main>