<main class="p-5">
    <h1>
        hello <i class="bi bi-brightness-high"></i>
        <i class="fa-brands fa-slack fa-beat fa-2xs" style="color: #f5cd05;"></i>
    </h1>
    <button class="btn btn-primary"><i class="bi bi-car-front"></i>
        <i class="fa-brands fa-slack fa-beat fa-2xs" style="color: #f5cd05;"></i></button>
    <button class="btn btn-warning"><i class="bi bi-cart"></i>
        <img src="/svg/slack.svg"> </button>


    <div>
        <i class="fa-brands fa-slack fa-beat fa-2xs" style="color: #f5cd05;"></i>

    </div>
    <div>
        <img src="/svg/slack.svg">

    </div>

</main>