<main class="p-5">
    <div class="g-5 ">
        <div class="col-12 mb-5">
            <label class="form-label">email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error.You need to put correct email</div>
        </div>
        <div class="col-12 mb-5">
            <div class="row">
                <div>

                    <div class="row ">
                        <div class="col-2 pt-1">
                            <label class="form-label">email address</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control-lg">
                        </div>
                        <div class="col-4 ps-5 pt-1">

                            <div class="form-text text-danger">Error.You need to put correct email</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-12">
            <label class="form-label">email address</label>
            <input disabled class="form-control-sm type=color">
            <div class="form-text text-danger">Error.You need to put correct email</div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <label class="form-label">Select Role</label>
            <select class="form-select form-select-lg ">
                <option selected>Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            <div class="form-text text-danger">Error.You need to put correct email</div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <label class="form-label">Select Phone</label>
            <div class"form-check">
                <label class="form-check-label">Apple</label>
                <input name="phone" type="checkbox" class="form-check-input">
            </div>
            <div class"form-check">
                <label class="form-check-label">Samsung</label>
                <input name="phone" type="checkbox" class="form-check-input">
            </div>
            <div class"form-check">
                <label class="form-check-label">Nokia</label>
                <input name="phone" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <label class="form-label">Select Phone</label>
            <div class"form-check">
                <label class="form-check-label">Apple</label>
                <input name="phone" type="radio" class="form-check-input">
            </div>
            <div class"form-check">
                <label class="form-check-label">Samsung</label>
                <input name="phone" type="radio" class="form-check-input">
            </div>
            <div class"form-check">
                <label class="form-check-label">Nokia</label>
                <input name="phone" type="radio" class="form-check-input">
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <div class=g"form-check form-switch">
                <label class="form-check-label">Get bonus</label>
                <input type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>
</main>
<main class="p-5">
    <div class="row ">

        <div class="col-12 mb-5">

            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link">Main</a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-link active">Catalog</a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Shop list</a>
                </div>


            </div>
        </div>
        <div class="col-5 pe-5">
            <div class="card">
                <div class=" pt-4 pb-3">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card"><a href="/education" class="nav-link active">Bootstrap</a></div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card"><a href="/skills" class="nav-link disabled">FAQ page</a></div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card"><a href="/education" class="nav-link active">Bootstrap</a></div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card"><a href="/skills" class="nav-link disabled">FAQ page</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC та Ноутбук</a>
                        </li>
                        <li class="breadcrumb-item">
                            MacBook
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary rounded-pill mt-5">Click me</button>
                    <button class="btn btn-primary rounded-pill my-5">Pull</button>
                    <button class="btn btn-primary rounded-pill ms-5 my-3 ms-0">On</button>
                    <div class="alert alert-dark">
                        <h6 class="mb-2">
                            Hello World!
                            <span class="badge text-bg-warning rounded-pill text-upercase">топ продажів</span>
                        </h6>
                        <p class="m-0">This is important information</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Third to fours</h3>


    <hr>
    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>
    <div class="text-muted text-end">
        Додатковий<span class="display-6">текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
        <h1>Test</h1>
    </button>
    <button class="btn btn-secondary">
        <span class="text-uppercase">Test button</span>
        <h1>Test</h1>
        <button class="btn btn-success">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </button>
        <button class="btn btn-danger">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </button>
        <button class="btn btn-warning">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </button>
        <button class="btn btn-info">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </button>
        <button class="btn btn-light">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </button>
        <button class="btn btn-dark">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </button>
        <a href='#' class="btn btn-link">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </a>
        <a href='#' class="btn btn-primary">
            <span class="text-uppercase">Test button</span>
            <h1>Test</h1>
        </a>
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="text-success">My text</div>
                <div class="text-danger">My text</div>
                <div class="text-info">My text</div>
                <div class="text-light">My text</div>
                <p class="text-dark">My text</p>
                <p class="text-muted">My text</p>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary">Додати</button>
                <button class="btn btn-outline-secondary">Редагувати</button>
                <button class="btn btn-outline-danger">Видалити</button>
                <button class="btn btn-outline-warning">Видалити</button>
                <button class="btn btn-outline-info">Видалити</button>
                <button class="btn btn-outline-light">Видалити</button>
                <button class="btn btn-outline-dark">Видалити</button>
            </div>
        </div>

        <hr>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <button class="btn btn-secondary btn-lg">Plus
                </button>
                <button class="btn btn-outline-primary btn-sm">Minus
                </button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="card">
            <div class="card-body">This is content</div>
        </div>
</main>