<div>
    {{#with main}}
    <main>
        <section class="mb-5">
            {{> title data="My Educationss" big=true}}
            <ul>
                {{#each schools}}
                <li class="ps-5">
                    {{name}}
                    {{#if isEnd includeZero=true}}({{isEnd}}){{/if}}
                    {{#unless isEnd}}(ще в процесі){{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
    </main>

    <hr class="mb-5">
    {{/with}}
    {{#with main}}
    <main>
        <section class="mb-5">

            <ul>
                {{>title data='Certification'}}
                {{#each certifications}}
                <li class="ps-5">
                    {{name}}
                    {{#if id}}({{id}}){{/if}}
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>