<main class='p-5'>
    <div class="card col-12">
        <div class="row">
            <div class="card-body mx-2 g-2 mb-2">
                <h2 class="text-secondary text-home py-3">Bogatyr Ludmila</h2>
                <h3 class="text-secondary  text-end py-3">Resume project</h3>
            </div>
        </div>
    </div>
    <div class="mb-5">
        <div>
            <h3 class="text-center title text-dark">Список сторінок</h3>
            <hr class="mb-5">
            <div class="col-6 mx-2 my-2">
                <a href="/summary" class="btn btn-primary">Summary</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/education" class="btn btn-primary">Education</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/car" class="btn btn-primary">Car</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/person" class="btn btn-primary">Person</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/program" class="btn btn-primary">Progaram</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/shopcart" class="btn btn-primary">Shopcart</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/shophome" class="btn btn-primary">Shophome</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/shopprofile" class="btn btn-primary">Shopprofile</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/shopreview" class="btn btn-primary">Shopreview</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/skills" class="btn btn-primary">Skills</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/work" class="btn btn-primary">Work</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/web" class="btn btn-primary">Web</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/task21" class="btn btn-primary">Task21</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/task22" class="btn btn-primary">Task22</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/task31" class="btn btn-primary">Task31</a>
            </div>
            <div class="col-6 mx-2 my-2">
                <a href="/mac" class="btn btn-primary">Mac</a>
            </div>
        </div>


</main>