<main>
    <div class="row gy-5">
        <section class="col-4">
            <div class="card text-bg-dark">

                <div class="card-body ">
                    <h5 class="title text-bg-primary">{{text}}</h5>

                    <a href="#" class="btn btn-primary">{{href}}</a>
                </div>
            </div>

        </section>
</main>